<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>restrant</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.hotel.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DinnerTableController</display-name>
    <servlet-name>DinnerTableController</servlet-name>
    <servlet-class>com.hotel.controller.DinnerTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DinnerTableController</servlet-name>
    <url-pattern>/dinnerTableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuisineController</display-name>
    <servlet-name>CuisineController</servlet-name>
    <servlet-class>com.hotel.controller.CuisineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuisineController</servlet-name>
    <url-pattern>/cuisineController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodController</display-name>
    <servlet-name>FoodController</servlet-name>
    <servlet-class>com.hotel.controller.FoodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodController</servlet-name>
    <url-pattern>/foodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.hotel.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/orderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.hotel.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/frontController</url-pattern>
  </servlet-mapping>
</web-app>